# Eat Safe, Love

## Notebook Set Up

In [1]:
# Import dependencies
!pip install pymongo
import pymongo
from pprint import pprint
from decimal import Decimal
import pandas as pd

Requirement already satisfied: pymongo in /Users/kaylahoward/opt/anaconda3/lib/python3.9/site-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /Users/kaylahoward/opt/anaconda3/lib/python3.9/site-packages (from pymongo) (2.3.0)

In [2]:
# Create an instance of MongoClient
from pymongo import MongoClient

mongo = MongoClient(port=27017)

In [3]:
# confirm that our new database was created
print(mongo.list_database_names())

['admin', 'config', 'local', 'uk_food']

In [4]:
# access the uk_food database
uk_food_db = mongo['uk_food']

In [5]:
# review the collections in our new database
print(uk_food_db.list_collection_names())

['establishments']

In [6]:
# assign the collection to a variable
establishments = uk_food_db['establishments']

In [7]:
# review the collections in our database
print(uk_food_db.list_collection_names())

['establishments']

In [8]:
# assign the collection to a variable
establishments = uk_food_db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [9]:
# Find the establishments with a hygiene score of 20
query1 = {'scores.Hygiene': 20}


# Use count_documents to display the number of documents in the result
count1 = establishments.count_documents(query1)
count1

41

In [10]:
# Display the first document in the results using pprint
results_1 = establishments.find(query1)
pprint(results_1[0])

{'AddressLine1': '5-6 Southfields Road',
 'AddressLine2': 'Eastbourne',
 'AddressLine3': 'East Sussex',
 'AddressLine4': '',
 'BusinessName': 'The Chase Rest Home',
 'BusinessType': 'Caring Premises',
 'BusinessTypeID': 5,
 'ChangesByServerID': 0,
 'Distance': 4613.888288172291,
 'FHRSID': 110681,
 'LocalAuthorityBusinessID': '4029',
 'LocalAuthorityCode': '102',
 'LocalAuthorityEmailAddress': 'Customerfirst@eastbourne.gov.uk',
 'LocalAuthorityName': 'Eastbourne',
 'LocalAuthorityWebSite': 'http://www.eastbourne.gov.uk/foodratings',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'BN21 1BU',
 'RatingDate': '2021-09-23T00:00:00',
 'RatingKey': 'fhrs_0_en-gb',
 'RatingValue': '0',
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('6429f045ae327ce44dfe4e79'),
 'geocode': {'latitude': '50.769705', 'longitude': '0.27694'},
 'latitude': {'$convert': {'input': '$latitude', 'to': 'decimal'}},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/110681',
            'rel': 'self'}],
 'longitude': {'$convert': {'input': '$longitude', 'to': 'decimal'}},
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 20, 'Hygiene': 20, 'Structural': 20}}

In [11]:
# Convert the result to a Pandas DataFrame
result_df_1 = pd.DataFrame(results_1)
result_df_1

print("Rows in DataFrame: ", len(result_df_1))

# Display the first 10 rows of the DataFrame
result_df_1.head(10)

Rows in DataFrame:  41

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,scores,SchemeType,geocode,RightToReply,Distance,NewRatingPending,meta,links,latitude,longitude
0,6429f045ae327ce44dfe4e79,110681,0,4029,The Chase Rest Home,Caring Premises,5,5-6 Southfields Road,Eastbourne,East Sussex,...,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI...",FHRS,"{'longitude': '0.27694', 'latitude': '50.769705'}",,4613.888288,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings....","{'$convert': {'input': '$latitude', 'to': 'dec...","{'$convert': {'input': '$longitude', 'to': 'de..."
1,6429f045ae327ce44dfe51ed,612039,0,1970/FOOD,Brenalwood,Caring Premises,5,Hall Lane,Walton-on-the-Naze,Essex,...,"{'Hygiene': 20, 'Structural': 15, 'ConfidenceI...",FHRS,"{'longitude': '1.278721', 'latitude': '51.8575...",,4617.965824,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings....","{'$convert': {'input': '$latitude', 'to': 'dec...","{'$convert': {'input': '$longitude', 'to': 'de..."
2,6429f045ae327ce44dfe54fe,730933,0,1698/FOOD,Melrose Hotel,Hotel/bed & breakfast/guest house,7842,53 Marine Parade East,Clacton On Sea,Essex,...,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI...",FHRS,"{'longitude': '1.15927', 'latitude': '51.789429'}",,4619.656144,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings....","{'$convert': {'input': '$latitude', 'to': 'dec...","{'$convert': {'input': '$longitude', 'to': 'de..."
3,6429f045ae327ce44dfe56e3,172735,0,PI/000023858,Seaford Pizza,Takeaway/sandwich shop,7844,4 High Street,Seaford,East Sussex,...,"{'Hygiene': 20, 'Structural': 10, 'ConfidenceI...",FHRS,"{'longitude': '0.10202', 'latitude': '50.770885'}",,4620.421725,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings....","{'$convert': {'input': '$latitude', 'to': 'dec...","{'$convert': {'input': '$longitude', 'to': 'de..."
4,6429f045ae327ce44dfe56f6,172953,0,PI/000024532,Golden Palace,Restaurant/Cafe/Canteen,1,5 South Street,Seaford,East Sussex,...,"{'Hygiene': 20, 'Structural': 10, 'ConfidenceI...",FHRS,"{'longitude': '0.101446', 'latitude': '50.7707...",,4620.437179,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings....","{'$convert': {'input': '$latitude', 'to': 'dec...","{'$convert': {'input': '$longitude', 'to': 'de..."
5,6429f045ae327ce44dfe6092,512854,0,12/00816/BUTH,Ashby's Butchers,Retailers - other,4613,777 Southchurch Road,Southend-On-Sea,Essex,...,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI...",FHRS,"{'longitude': '0.736349', 'latitude': '51.5414...",,4625.565258,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings....","{'$convert': {'input': '$latitude', 'to': 'dec...","{'$convert': {'input': '$longitude', 'to': 'de..."
6,6429f045ae327ce44dfe62bb,1537089,0,22/00224/RESTUN,South Sea Express Cuisine,Restaurant/Cafe/Canteen,1,33 Alexandra Street,Southend-on-sea,Essex,...,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI...",FHRS,"{'longitude': '0.7121671', 'latitude': '51.535...",,4626.200132,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings....","{'$convert': {'input': '$latitude', 'to': 'dec...","{'$convert': {'input': '$longitude', 'to': 'de..."
7,6429f046ae327ce44dfe77eb,155648,0,EH/00006058,Golden Palace,Takeaway/sandwich shop,7844,7 London Road,Rayleigh,Essex,...,"{'Hygiene': 20, 'Structural': 15, 'ConfidenceI...",FHRS,"{'longitude': '0.602364', 'latitude': '51.5915...",,4632.276890,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f...","{'$convert': {'input': '$latitude', 'to': 'dec...","{'$convert': {'input': '$longitude', 'to': 'de..."
8,6429f046ae327ce44dfe7c21,1012883,0,17/00110/MIXED/S,The Tulip Tree,Restaurant/Cafe/Canteen,1,3 The Village,Chiddingstone,KENT,...,"{'Hygiene': 20, 'Structural': 5, 'ConfidenceIn...",FHRS,"{'longitude': '0.146449998021126', 'latitude':...",,4633.934041,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f...","{'$convert': {'input': '$latitude', 'to': 'dec...","{'$convert': {'input': '$longitude', 'to': 'de..."
9,6429f046ae327ce44dfe8435,644109,0,41811,F & S,Retailers - other,4613,,81 Southernhay,Basildon,...,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI...",FHRS,"{'longitude': '0.462307', 'latitude': '51.57005'}",,4636.552523,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f...","{'$convert': {'input': '$latitude', 'to': 'dec...","{'$convert': {'input': '$longitude', 'to': 'de..."

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [12]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
query2 = {"LocalAuthorityName": "London", "RatingValue": {"$gte": 4}}

# Use count_documents to display the number of documents in the result
count2 = establishments.count_documents(query2)
print(count2)

0

In [ ]:
# Display the first document in the results using pprint
results_2 = establishments.find(query2)
pprint(results_2[0])

In [ ]:
# Convert the result to a Pandas DataFrame

result_df_2 = pd.DataFrame(results_2)
result_df_2

print("Rows in DataFrame: ", len(result_df_2))

# Display the first 10 rows of the DataFrame
result_df_2.head(10)

### 3. What are the top 5 establishments with a `RatingValue` rating value of '5', sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [ ]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score
# Print the results

In [ ]:
# Convert result to Pandas DataFrame

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [ ]:
# Create a pipeline that: 
# 1. Matches establishments with a hygiene score of 0
query3 = {'scores.Hygiene': 0}


# Use count_documents to display the number of documents in the result
count3 = establishments.count_documents(query3)
count3

In [ ]:
# 2. Groups the matches by Local Authority
search2 = establishments.find(query3)
local_df = pd.DataFrame(search2)

# Group by Local Authority and count the number of establishments
grouped = local_df.groupby('LocalAuthorityName').size().reset_index(name='count')
grouped

In [ ]:
# 3. Sorts the matches from highest to lowest
local_df_sorted = grouped.sort_values(by=['count'], ascending=False)
local_df_sorted

In [ ]:
# Display the number of rows in the DataFrame
local_df_sorted.count()
# Display the first 10 rows of the DataFrame
local_df_sorted.head(10)